
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
/* header styles */
/* navbar related styles */
header{
    background-color: #FFF4E7;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
.navbar{
    display: flex;
    justify-content: space-between;
    
}
.menu{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav-item{
    list-style: none;
    
}
.nav-link{
    text-decoration: none;
    font-size: ;
    font-weight: 500;
    line-height: 26px;
    color: #424242;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    color: #131313;
    margin-bottom: 32px;
    

}
.banner-description{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 50px;
}
.banner-image{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 45px;
}
/* Responsive Media Query */
@media screen and (max-width: 576px){
    .navber, .menu{
        flex-direction: column;
    }
}